includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 5
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: nullsafe.neverNull
        - identifier: trait.unused
        - identifier: method.unused
        - identifier: return.unusedType
        - identifier: arrayValues.list
        - identifier: catch.neverThrown
